@media (min-width: 768px) {
    .cart-drawer {
        right: var(--space-5);
        bottom: var(--space-5);
        left: auto;

        width: min(24rem, calc(100vw - 3rem));
    }

    .cart-drawer__toggle {
        margin-inline: auto 0;
    }
}