.product-quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    margin-top: 1rem;
}

.product-quantity__controls {
    display: flex;
    overflow: hidden;
    border: 1px solid currentColor;
    border-radius: 0.75rem;
}

.product-quantity__button,
.product-quantity__input {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 4.5rem;
    height: 3.5rem;

    margin: 0;
    padding: 0;
}

.product-quantity__button {
    border: 0;
    background-color: var(--color-quantity-button-bg);

    font-size: 1.25rem;
    line-height: 1;
}

.product-quantity__button:hover {
    background-color: var(--color-quantity-button-bg-hover);
}

.product-quantity__input {
    appearance: textfield;
    -moz-appearance: textfield;

    border: 0;
    border-inline: 1px solid currentColor;

    background-color: var(--color-background);

    text-align: center;
    font-weight: 700;
}

.product-quantity__input::-webkit-outer-spin-button,
.product-quantity__input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

.product-quantity__add {
    gap: 0.5rem;

    width: 17rem;
    min-height: 3.75rem;

    border: 0;

    background-color: var(--color-add-cart-bg);
    color: var(--color-add-cart-text);

    font-size: 1rem;
}

.product-quantity__add:hover {
    background-color: var(--color-add-cart-bg-hover);
}

.product-quantity__icon {
    display: flex;
    align-items: center;
    justify-content: center;
}