.store-header-nav {
    margin-top: var(--space-5);
}

.store-header-nav__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-4);

    margin: 0;
    padding: 0;

    list-style: none;
}

.store-header-nav__list a,
.store-header-nav__list button {
    display: inline-flex;
    align-items: center;

    padding: var(--space-2) var(--space-4);

    color: var(--color-text);

    text-decoration: none;
    cursor: pointer;

    transition:
        background-color var(--transition-fast),
        color var(--transition-fast);
}